<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <ul>
        <% info.forEach(function(justOne) { %>
        <li>
        Id - <strong><%= justOne.theaterId %></strong> <br>
        Street - <strong><%= justOne.location.address.street1 %></strong> <br> <br>
        City - <strong><%= justOne.location.address.city %></strong> /
        State - <strong><%= justOne.location.address.state %></strong> /
        Zip code - <strong><%= justOne.location.address.zipcode %></strong> /
        </li>
        <% }); %>
        </ul>

    <p id="myText">Hello World</p>

    <!-- <form action="/addName" method="post"> -->
    <input id="usName" type="text" name="name" placeholder="Please type your name"><br><br>
    <input id="usEmail" type="email" name="password" placeholder="Please type your email"><br><br>
    <input id="usPassword" type="password" name="password" placeholder="Please type your password"><br><br>
    <input onclick="getVal()" type="submit">
    <!-- </form> -->

    <script src="script.js"></script>
</body>

</html>
